body {
    background-color: #EEEEEE;
}

input [type="text"] {
    padding: 10px;
    font-size: 14px;
}

.blue {
    background: #0000FF;
    color: #FFFFFF;
}

.red {
    background-color: #ff0000;
    color: #fff;
}

.green {
    background-color: #00ff00;
    color: #000;
}

#cell {
    display: none;
}

#hideCell {
    display: none;
}